.DS_Store
robotsettings.py
robotsettings.pyc
books/The Iron Duke - Meljean Brook.txt

books/Grave Witch - Kaylana Price.txt

books/Silent in the Grave - Deanna Raybourn.txt

books/Slave to Silence - Nalini Singh.txt

robotsettings.json
