.DS_Store
robotsettings.py
*.pyc
books/*.txt
robotsettings.json
combined/1.txt
other books
smut.json
tools/popular.json
tools/.ropeproject/objectdb
tools/.ropeproject/history
tools/.ropeproject/globalnames
tools/.ropeproject/config.py
